<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/global.css" />
        
    </head>
    <body>
        <div class="outer">
            <h1><%=title%></h1>
            <form action="/" method="post">
                <input type="hidden"/>
                <label for="userName">
                    用户名
                    <input id="userName" type="text" />
                </label>
                <label for="password">
                    密码
                    <input id="password" type="text" />
                </label>
                <input type="button" value="取消" />
                <input type="submit" value="提交" />
            </form>
        </div>
    </body>
</html>