/* 
* @Author: Marte
* @Date:   2016-11-02 09:33:39
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-10 16:33:46
*/
html {
            height: 100%;
            width: 100%;
            font-family: 'Heiti SC', 'Microsoft YaHei';
            font-size: 20px;
            overflow: hidden;
            outline: 0;
            -webkit-text-size-adjust:none;
        }
.outer{width:1200px;margin:0 auto;}
h1{font-size: 22px;font-weight: bold;}
.bofang{width:100px;height:30px;color:#fff;background:red;display: inline-block;line-height: 30px;text-decoration: none;text-align: center;}
h2{font-size: 18px;}
dt{color:blue;}
.listTable{width:1200px;border:1px solid #eee;margin:0 auto;}
.listTable thead td{font-weight: bold;font-size: 16px;}
.listTable td{padding:5px 0;text-align: center;border-right:1px solid #eee;border-bottom: 1px solid #eee;}
.listTable td a{text-decoration: none;width:60px;height:26px;line-height: 26px;text-align: center;background:green;display:inline-block;color:#fff;}
.header{height:40px;width:1200px;text-align: center;margin:0 auto 20px;}
.header ul li{float:left;width:100px;height:40px;}
.header a{display:inline-block;width:100px;height:40px;line-height: 40px;background:#d59b09;color:#fff;font-size: 16px;}
.header a:hover{color:#eee;background:#e1bb1c;}
.money{height:30px;font-size: 14px;color:red;}